/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/hide_tabs_with_one_tab_w_window_controls.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Makes tabs toolbar items zero-height initially and sets enlarge them to fill up space equal to tab-min-height set on tabs. Optionally use privatemode_indicator_as_menu_button.css to replace main menu icon with private browsing indicator while tabs are hidden. */
/* Firefox 65+ only */
/* !!USER!! -  REMOVE ALL BUTTONS you can from the tabs toolbar */

/* IMPORTANT */
/*
Get window_control_placeholder_support.css
Window controls will be all wrong without it
*/

/* Dummy variable to support both versions 89-90 */
:root {
  --tab-block-margin: var(--proton-tab-block-margin);
}

#titlebar {
  -moz-appearance: none !important;
}
/* We'll use window controls from menubar instead */
#TabsToolbar > .titlebar-buttonbox-container {
  display: none;
}
#tabbrowser-tabs,
#tabbrowser-tabs > .tabbrowser-arrowscrollbox,
#tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

#TabsToolbar > .titlebar-spacer[type="post-tabs"] {
  width: 178px !important;
}
#toolbar-menubar > spacer {
  pointer-events: none;
}

:root:not([customizing]) #tabs-newtab-button,
:root:not([customizing]) #tabbrowser-tabs .tabs-newtab-button {
  -moz-appearance: none !important;
  height: 0px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  -moz-box-align: stretch;
  margin: 0 !important;
}

.accessibility-indicator,
.private-browsing-indicator {
  height: unset !important;
}
.accessibility-indicator > hbox {
  padding-block: 0 !important;
}

#tabbrowser-tabs .tabbrowser-tab {
  height: var(--tab-min-height);
}
#tabbrowser-tabs
  .tabbrowser-tab[first-visible-tab="true"][last-visible-tab="true"] {
  visibility: collapse;
}

/* Button re-styling */
#tabs-newtab-button:hover,
#tabbrowser-tabs .tabs-newtab-button:hover {
  background-color: var(--toolbarbutton-hover-background);
}

#tabs-newtab-button > .toolbarbutton-icon,
#tabbrowser-tabs .tabs-newtab-button > .toolbarbutton-icon {
  padding: 0 !important;
  transform: scale(0.6);
  background-color: transparent !important;
}
/* Extra top padding  in maximized window */
@media (-moz-os-version: windows-win7), (-moz-os-version: windows-win10) {
  :root[sizemode="maximized"] #navigator-toolbox {
    padding-top: 0px !important;
  }
}
/* Window controls in nav-bar */
:root:not([customizing]) #toolbar-menubar[inactive] {
  height: initial !important;
  min-height: initial !important;
  margin-bottom: -31px !important;
}

:root:not([customizing]) #toolbar-menubar[autohide][inactive] > #menubar-items {
  pointer-events: none;
  opacity: 0;
}

:root[sizemode="fullscreen"] .titlebar-buttonbox-container {
  display: none !important;
}
:root[sizemode="fullscreen"] #TabsToolbar > #window-controls {
  z-index: 2;
  top: calc(var(--tab-min-height) + 2 * var(--tab-block-margin, 0px));
}
