@import url("./autohide.css");
@import url("./hidetab.css");
:root {
  /* Minimal Functional Fox variables*/
  --mff-bg: #232e3680;
  --black: transparent;
  --mff-icon-color: #e0fbfc;
  --mff-nav-bar-padding: 8px;
  --mff-sidebar-bg: var(--mff-bg);
  --mff-sidebar-color: #e0fbfc;
  --mff-tab-border-radius: 0px;
  --mff-tab-color: #fefefa;
  --mff-tab-font-family: "Roboto Condensed", sans;
  --mff-tab-font-size: 11pt;
  --mff-tab-font-weight: 400;
  --mff-tab-height: 32px;
  --mff-tab-pinned-bg: #70c1b3;
  --mff-tab-selected-bg: #eed202;
  --mff-tab-soundplaying-bg: #aef359;
  --mff-urlbar-color: #98c1d9;
  /*! --mff-urlbar-focused-color: #e0fbfc; */
  --mff-urlbar-font-family: "Roboto Condensed", sans;
  --mff-urlbar-font-size: 12pt;
  --mff-urlbar-font-weight: 700;
  --mff-urlbar-results-color: orange;
  --mff-urlbar-results-font-family: "mononoki Nerd Font", serif;
  --mff-urlbar-results-font-size: 12pt;
  --mff-urlbar-results-font-weight: 700;
  --mff-urlbar-results-url-color: #98c1d9;
  /*   --mff-tab-selected-bg: linear-gradient(90deg, rgba(232,74,95,1) 0%, rgba(255,132,124,1) 50%, rgba(254,206,168,1) 100%); */
  /*   --mff-urlbar-font-weight: 600; */

  /* Overriden Firefox variables*/
  --autocomplete-popup-highlight-background: var(--black) !important;
  --default-arrowpanel-background: var(--black) !important;
  --default-arrowpanel-color: #fefefa !important;
  --lwt-toolbarbutton-icon-fill: var(--mff-icon-color) !important;
  --panel-disabled-color: #f9f9fa80;
  --toolbar-bgcolor: #232e3680 !important;
  --urlbar-separator-color: transparent !important;
  --lwt-accent-color: transparent !important;
  --arrowpanel-background: transparent !important;
  --arrowpanel-border-color: transparent !important;
}
#appcontent {
  background: transparent !important;
}

#PersonalToolbar {
  display: none !important;
}
:root {
  background-color: transparent !important;
}

/*
  _____ _   ___ ___
 |_   _/_\ | _ ) __|
   | |/ _ \| _ \__ \
   |_/_/ \_\___/___/

*/
#firefox-view-button,
#wrapper-firefox-view-button,
#alltabs-button {
  display: none !important;
}

#firefox-view-button,
#wrapper-firefox-view-button,
#tabbrowser-tabs {
  border: 0px hidden transparent !important;
  padding-inline-start: 0 !important;
  margin-inline-start: 0 !important;
}
#private-browsing-indicator-with-label,
.titlebar-spacer[type="post-tabs"] {
  display: none !important;
}
#TabsToolbar,
#titlebar,
#main-window,
#navigator-toolbox {
  -moz-appearance: none !important;
  background-color: var(-mff-bg) !important;
  background-image: none !important;
}

.tab-background[selected="true"] {
  background: var(--mff-tab-selected-bg) !important;
}

.tab-background:not[visuallyselected] {
  background: var(--mff-tab-selected-bg) !important;
  opacity: 0.5 !important;
}

toolbar[type="menubar"] {
  padding: 0px !important;
}

/* This positions the tabs under the navaigator container
#titlebar {
  -moz-box-ordinal-group: 3 !important;
}
*/

.tabbrowser-tab::after,
.tabbrowser-tab::before {
  border-left: none !important;
}

.tab-background {
  border: none !important;
}

.tabbrowser-arrowscrollbox {
  margin-inline-start: 4px !important;
  margin-inline-end: 4px !important;
}

.tab-close-button {
  display: none !important;
}

.tab-text {
  font-family: var(--mff-tab-font-family);
  font-weight: var(--mff-tab-font-weight);
  font-size: var(--mff-tab-font-size) !important;
  color: var(--mff-tab-color);
}

.tab-text[selected="true"] {
  font-family: var(--mff-tab-font-family);
  font-weight: var(--mff-tab-font-weight);
  font-size: var(--mff-tab-font-size) !important;
  color: black;
}

/* Hide the favicon for tabs
hbox.tab-content .tab-icon-image {
  display: none !important;
}
*/

/* Show the favicon for tabs that are pinned */
hbox.tab-content[pinned="true"] .tab-icon-image {
  display: initial !important;
}

hbox.tab-content[pinned="true"] .tab-text {
  display: none !important;
}

#tabbrowser-tabs {
  --tab-loading-fill: #033433 !important;
}

.tab-label-container:not([textoverflow]) {
  display: flex;
  overflow: hidden;
  justify-content: center;
  width: 50% !important;
  max-width: 50% !important;
  min-width: 50% !important;
}

/* .tab-label-container::after {
  content: "?" !important;

} */

.tab-line {
  display: none !important;
}

.tabbrowser-tab {
  border-radius: var(--mff-tab-border-radius) !important;
  border-width: 0;
  height: var(--mff-tab-height) !important;
  margin-bottom: 0px !important;
  margin-inline-end: 2px !important;
  margin-top: 0px !important;
  max-height: var(--mff-tab-height) !important;
  min-height: var(--mff-tab-height) !important;
}

.tabbrowser-tab[soundplaying="true"] {
  background-color: var(--mff-tab-soundplaying-bg) !important;
}
.tabbrowser-tab[soundplaying="true"] .tab-text {
  font-family: var(--mff-tab-font-family);
  font-weight: var(--mff-tab-font-weight);
  font-size: var(--mff-tab-font-size) !important;
  color: black !important;
}
.tabbrowser-tab[soundplaying="true"] .tab-icon-stack {
  font-family: var(--mff-tab-font-family);
  font-weight: var(--mff-tab-font-weight);
  font-size: var(--mff-tab-font-size) !important;
  color: black !important;
}
.tabbrowser-tab .tab-icon-stack[muted="true"] {
  color: red !important;
}

#tabs-newtab-button {
  list-style-image: url("add.svg") !important;
  opacity: 0.7;
}

.tab-icon-sound {
  display: none !important;
}

/*
  _____ ___   ___  _    ___   _   ___
|_   _/ _ \ / _ \| |  | _ ) /_\ | _ \
  | || (_) | (_) | |__| _ \/ _ \|   /
  |_| \___/ \___/|____|___/_/  \_\_|_\
*/

.urlbar-icon > image {
  fill: var(--mff-icon-color) !important;
  color: var(--mff-icon-color) !important;
}

.toolbarbutton-text {
  color: var(--mff-icon-color) !important;
}
.urlbar-icon {
  color: var(--mff-icon-color) !important;
}

.toolbarbutton-icon {
  /* filter: drop-shadow(0 0 0.75rem crimson); */
}

#urlbar-results {
  font-family: var(--mff-urlbar-results-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-results-font-size) !important;
  color: var(--mff-urlbar-results-color) !important;
}

.urlbarView-row[type="bookmark"] > span {
  color: orange !important;
}

.urlbarView-row[type="switchtab"] > span {
  color: orange !important;
}

.urlbarView-url,
.search-panel-one-offs-container {
  color: var(--mff-urlbar-results-url-color) !important;
  font-family: var(--mff-urlbar-font-family);
  font-weight: var(--mff-urlbar-results-font-weight);
  font-size: var(--mff-urlbar-font-size) !important;
}

.urlbarView-favicon,
.urlbarView-type-icon {
  display: none !important;
}

#urlbar-input {
  font-size: var(--mff-urlbar-font-size) !important;
  color: var(--mff-urlbar-color) !important;
  font-family: var(--mff-urlbar-font-family) !important;
  font-weight: var(--mff-urlbar-font-weight) !important;
  text-align: center !important;
}

#tracking-protection-icon-container,
#identity-box {
  display: none;
}

#back-button > .toolbarbutton-icon {
  --backbutton-background: transparent !important;
  border: none !important;
}

#back-button {
  list-style-image: url("left-arrow.svg") !important;
}

#forward-button {
  list-style-image: url("right-arrow.svg") !important;
}

toolbar {
  background-image: none !important;
}

#urlbar-background {
  opacity: 0.98 !important;
}

#navigator-toolbox,
toolbaritem {
  border: none !important;
}

#urlbar-background {
  background-color: #2b2b2bcc !important;
  border: none !important;
}

.toolbar-items {
  background-color: var(--mff-bg) !important;
}

#sidebar-search-container {
  background-color: var(--mff-sidebar-bg) !important;
}

box.panel-arrowbox {
  display: none;
}

box.panel-arrowcontent {
  border-radius: 8px !important;
  border: none !important;
}

tab.tabbrowser-tab {
  overflow: hidden;
}

tab.tabbrowser-tab:hover {
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
}

image#star-button {
  display: none;
}

toolbar#nav-bar {
  padding: var(--mff-nav-toolbar-padding) !important;
}

toolbar#nav-bar {
  padding: 0px !important;
}

/*
#urlbar {
  max-width: 70% !important;
  margin: 0 15% !important;
}
*/

#urlbar-input:focus {
  color: var(--mff-urlbar-focused-color) !important;
}

.megabar[breakout-extend="true"]:not([open="true"]) > #urlbar-background {
  box-shadow: none !important;
  background-color: transparent !important;
}

toolbarbutton {
  box-shadow: none !important;
}

/*
  ___ ___ ___  ___ ___   _   ___
 / __|_ _|   \| __| _ ) /_\ | _ \
 \__ \| || |) | _|| _ \/ _ \|   /
 |___/___|___/|___|___/_/ \_\_|_\
*/

.close-icon,
.urlbar-icon {
  fill: var(--mff-icon-color) !important;
}

.sidebar-placesTree {
  color: var(--mff-sidebar-color) !important;
}

#sidebar-switcher-target {
  /*   color: white !important; */
}

#sidebar-box {
  --sidebar-background-color: var(--mff-sidebar-bg) !important;
}

splitter#sidebar-splitter {
  opacity: 0 !important;
}

splitter#sidebar-splitter {
  border: none !important;
  background-color: transparent !important;
}

image#sidebar-icon {
  display: none;
}

/*
    _   ___ ___  _____      _____  _   _  _ ___ _
   /_\ | _ \ _ \/ _ \ \    / / _ \/_\ | \| | __| |
  / _ \|   /   / (_) \ \/\/ /|  _/ _ \| .` | _|| |__
 /_/ \_\_|_\_|_\\___/ \_/\_/ |_|/_/ \_\_|\_|___|____|
 */

.panel-arrowcontent {
  padding: 0px !important;
  margin: 0px !important;
}

toolbarseparator {
  display: none;
}

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/non_floating_sharp_tabs.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* This style makes tabs and related items non-rounded and connects tabs to toolbars like in previous Firefox versions. */

/* It's not strictly a requirement, but this style expects compact_proton.css to be loaded before it. */

:root[id] {
  --proton-tab-block-margin: 0px !important;
  --tab-block-margin: 0px !important;
  --tabs-shadow-size: 1px !important;

  /* Remove next line if you want selected tab to have color other than toolbar background - then it follows your theme color  */
  --lwt-selected-tab-background-color: var(--toolbar-bgcolor) !important;
}

/* Uncomment next line to force specific color for tab top line */
/* #tabbrowser-tabs{ --tab-line-color: blue !important; } */

/* These next two rules set a color for border around tabs and between tabs & navigation toolbars. Set to transparent to remove the border.*/
#nav-bar {
  /* This overrides value in compact_proton.css */
  /*box-shadow: 0 -1px 0 0 color-mix(in srgb, currentcolor 30%, transparent) !important;*/
  box-shadow: 0 calc(-1 * var(--tabs-navbar-shadow-size)) 0
    var(--tabs-border-color) !important;
}
.tab-background[selected] {
  /*border-inline: 1px solid color-mix(in srgb, currentcolor 30%, transparent) !important;*/
  border-inline: none !important;
}

#TabsToolbar {
  --toolbarbutton-inner-padding: 7px !important;
}
#navigator-toolbox:not([movingtab]) > #titlebar > #TabsToolbar {
  --toolbar-bgcolor: transparent;
}

#TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon {
  border-radius: 2px !important;
}

/* tabs newtab button needs some special styling... */
#tabs-newtab-button {
  padding-inline: 0 !important;
}
#tabbrowser-arrowscrollbox > #tabs-newtab-button > .toolbarbutton-icon {
  border-radius: 0 !important;
  width: initial !important;
  height: initial !important;
  padding: 9px !important;
}
:root[uidensity="compact"]
  #tabbrowser-arrowscrollbox
  > #tabs-newtab-button
  > .toolbarbutton-icon {
  padding: 0px !important;
}

#scrollbutton-up,
#scrollbutton-down {
  border-radius: 0 !important;
  border-width: 0 !important;
  padding-inline: 3px !important;
}

/* tab shaping */
.tabbrowser-tab {
  padding-inline: 0 !important;
}

:root[uidensity="compact"]
  #tabbrowser-tabs[positionpinnedtabs]
  .tabbrowser-tab[pinned] {
  min-height: calc(var(--tab-min-height) + 2px) !important;
}

.tab-content[pinned] {
  padding-inline: 11px !important;
}

.tab-background {
  border-radius: 0 !important;
  box-shadow: none !important;
}

/* Line to mark selected tab */
.tab-background[selected]::before,
.tabbrowser-tab:hover > stack > .tab-background::before {
  display: -moz-box;
  height: 0px;
  content: "";
}
.tab-stack:hover > .tab-background::before {
  background-color: inherit;
}
.tab-stack > .tab-background[selected]::before {
  background-color: highlight;
  background-image: linear-gradient(
    var(--tab-line-color),
    var(--tab-line-color)
  );
}
/* Photon-like tab on hover animation for the top line */
@keyframes tab-onhover-line-anim {
  from {
    margin-inline: 20px;
  }
  to {
    margin-inline: 0;
  }
}

.tab-stack:hover > .tab-background::before {
  animation: tab-onhover-line-anim 160ms;
}

/* Disable animation for selected and pinned tabs */
.tabbrowser-tab:is([pinned], [selected])
  > .tab-stack
  > .tab-background::before {
  animation: none;
}

/* Move container color bar to bottom of tab */
.tab-context-line {
  margin-top: calc(var(--tab-min-height) - 2px) !important;
}

/* Non-selected tab's tab-line hover animation */
@media (prefers-reduced-motion: no-preference) {
  .tab-line:not([selected="true"]):not([multiselected]) {
    transition: transform 250ms var(--animation-easing-function),
      opacity 250ms var(--animation-easing-function);
  }
}
